body {
  background-color: lightgray;
  font-family: Arial, Helvetiva, sans-serif;
  text-align: center;
}

h1 {
  color: dodgerblue;
}


p {
  color: black;
}


a {
  color: black;
  font-weight: bold;
}